<div id="footer">
  <div class="container">
    <!-- <p class="pull-left">&copy; Matt Mollison &middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p> -->
    <p class="pull-left">&copy; Matt Mollison</p>
    <div class="genericon-footer">
      <div class="social-icons">
        <a href="https://github.com/warmlogic/happening" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <!--
      <div class="social-icons">
        <a href="https://twitter.com/slimloon" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
      </div>
      -->
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mattmollison"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
      <span style="color: #ff6600; font-size: 10px;">Hosted on a free EC2 instance, apologies for slowness.</span>
    </div>
  </div>
</div>
