{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <img src="http://psych.colorado.edu/~mollison/images/MattMollison.jpg"
               class="img-responsive" height="300 px"/>
        </div>
        <div class="col-md-5">
          <h1 class="text-justify text-muted">GET IN TOUCH</h1>
          <p class="lead">Matt Mollison</p>
          <p class="lead"><a href="http://www.mattmollison.com">mattmollison.com</a></p>
          <p class="lead"><a href="https://github.com/warmlogic">github</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
