{% extends "layout/base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='css/typeahead.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <!-- <div class="starter-template"> -->
    <div class="page-header">
        <h1>What's happening around you?</h1>
        <p class="lead">Find current social activity that stands out from the background.</p>
    </div>

    <div id="map-container" class="col-md-6">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,visualization&sensor=true_or_false">
    </script>
    </div>

    <!-- The location entry field   -->
    <div class ="col-sm-6">
        <div class="well">
            <h3>Where to look?</h3>
            <div class="row">       
                <form role="form" action="/results" onsubmit='show_loading()' method="GET">
                <div class="col-sm-9">
                    <div class="form-group custom_form_width">
                        <label for="startingLocation"></label>
                        <input type="text" name="origin" class="form-control" id="startingLocation" placeholder="e.g., San Francisco, CA">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="submit_loc" name="query" class="btn btn-large btn-success">Submit</button>
                </div>
                </form>
            </div>

            <h3>Predefined Events</h3>
            <div class="col-sm-9">
                <select id="predefine_loc" class="btn btn-primary form-control input-sm">
                    <option selected="selected">Apple Keynote - Sep 9, 2014</option>
                    <option>Diamondbacks at Giants - Sep 9, 2014</option>
                    <!-- <option>Another 1</option> -->
                    <!-- <option>Another 2</option> -->
                    <!-- <option>Another 3</option> -->
                </select>
            </div>
            <div class="col-sm-3">
                <button id="submit_predef" type="button" class="btn btn-primary btn-block input-sm">Submit</button>
            </div>
        </div>
    <!-- Closing the starting location field -->
    </div>

</div><!-- /.container -->

{% endblock %}

<!--==============================================================-->
{% block scripts %}
<!-- places javascript API -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script> -->
<!-- typeahead -->
<!-- <script src="{{ url_for('static', filename='js/typeahead.min.js') }}"></script> -->


<script type="text/javascript">
    //submitting the form redirects the page
    $('#submit_predef').click(function(e){
        entries = {};
        // for (var i=0; i < desintationList.length; i++){
        //     entries[i] = desintationList[i];
        // }
        var predefine_loc_dropdown = document.getElementById('predefine_loc');
        entries['predefine_loc'] = predefine_loc_dropdown.value;
        // var start = document.getElementById('startingLocation');
        // entries["start"] = start.value;
        debugger;
        window.location.href = '/results/' + encodeURIComponent(JSON.stringify(entries));
        return 0;
    });
</script>


<script>
function init_map() {
    
    var var_location = new google.maps.LatLng({{ user_lat }}, {{ user_lon }});
    
    var var_ourmap = mapIt(var_location)
    
    function mapIt(v_lat) {
        var var_mapoptions = {
            center: v_lat,
            zoom: 9
            // mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);
            
        // var var_marker = new google.maps.Marker({
        //     position: v_lat,
        //     map: var_map,
        //     title:"You"});

        // // var_marker.setMap(var_map);

        return var_map
    }
    
    function addPinMarker(this_map,thislat,thislong,thisID) {
        var latlong = new google.maps.LatLng(thislat,thislong)

        var this_marker = new google.maps.Marker({
            position: latlong,
            icon: getMakerImage(thisID+1)
            })

        this_marker.setMap(this_map);
    }
    
}

google.maps.event.addDomListener(window, 'load', init_map);
</script>

<script src="{{ url_for('static', filename='js/typeahead.min.js') }}"></script>
<script>
$("document").ready(function(){
    $("#desintationEntry").typeahead({
        name : 'dest',
        hint: false,
        minLength: 1,
        prefetch: '/prefetch/prefetch', 
    });
});
</script>
<script>    
    //autocomplete for startingLocation
    var input = /** @type {HTMLInputElement} */(
      document.getElementById('startingLocation'));
    var autocomplete = new google.maps.places.Autocomplete(input);
    //restrict to Bay Area
    var sw = google.maps.LatLng(37.3333, -122.5311);
    var ne = google.maps.LatLng(37.9736, -121.9000);
    var LatLngBounds = google.maps.LatLngBounds(sw, ne);
    autocomplete.setBounds(LatLngBounds);
</script>

{% endblock %}
<!--=================================================-->

{# commenting out
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
#}
